body {
    text-align: center;
    background: linear-gradient(#FF0000,#0000FF, green, yellow, black);
    background-repeat: no-repeat;
}
#left {
    float: left;
}
#right {
    float: right;
}